# dbt build artifacts and deps
/target/
/dbt_packages/
/logs/
.user.yml
package-lock.yml
/look_dbt/logs/
/look_dbt/profiles.yml
/dist/
/ingestion.egg-info/

# Python/OS cruft (if present)
__pycache__/
*.pyc
.DS_Store

# Environment variable files
*.env
*.dbt_env
venv/